:root {
--red: hsl(1, 90%, 64%);
--blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--vlgb: hsl(210, 60%, 98%);
--lgb1: hsl(211, 68%, 94%);
--lgb2: hsl(205, 33%, 90%);
--gb: hsl(219, 14%, 63%);
--dgb: hsl(219, 12%, 42%);
--vdgb: hsl(224, 21%, 14%);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: var(--vlgb);
}

.container {
    width: 90%;
    max-width: 55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--White);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: .8rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1em .2em 1em .2em;
}

.heading > h1 {
    font-size: 1.1rem;
}

.heading > h1 > span {
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    padding: 0 .4em 0 .4em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.heading > p {
    color: var(--gb);
}

.notifications {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.item {
    display: flex;
    padding: 1em;
    border-radius: 10px;
    background-color: hsl(210, 60%, 98%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: .85rem;
    margin: 1em 0 0 0;
    
}

.item > div > img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.item > div {
    color: hsl(219, 12%, 42%);
    position: relative;
}

.item-mark::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 43%;
    left: 80%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item-angel::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 18%;
    left: 105%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item-jacob::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 43%;
    left: 50%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.name {
    color: var(--vdgb);
    font-weight: 800;
}

.item1 > div > img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.item1 {
    display: flex;
    padding: 1.2em;
    color: hsl(219, 12%, 42%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: .85rem;
    margin: 1em 0 0 0;
}

.kimg {
    display: flex;
    justify-content: center;
}


.kimg > div > img {
    width: 2.5em;
    height: 2.5em;
}

.reply {
    border: 1px solid var(--lgb1);
    padding: .8em 1.5em .5em .8em;
    margin: 1em 0 0 0;
    color: var(--dgb);
}


.chess {
    color: var(--blue);
    font-weight: 800;
}

.tour {
    color: var(--vdgb);
    font-weight: 500;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    
.item-mark::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 43%;
    left: 50%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item-angel::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 18%;
    left: 105%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item-jacob::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 43%;
    left: 30%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}   
}

@media screen and (min-width: 768px) {
    .item-mark::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 15%;
    left: 102%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.item-jacob::after {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 15%;
    left: 102%;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reply {
    border: 1px solid var(--lgb1);
    padding: .8em 1.5em .5em .8em;
    margin: 1em 0 0 0;
    width: 32em;
    color: var(--dgb);
}

}
    